*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  /* min-height: 100vh; */
}

.container {
  width: calc(100% - 1.875rem);
  max-width: 37.5rem;
  margin-inline: auto;
  margin-top: 10rem;
}

.container__title {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 4rem;
}

.grid {
  border: 2px solid #121212;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  aspect-ratio: 1;
}

.grid__item {
  border: .0625rem solid rgba(18, 18, 18, .1);
}

.grid__controls {
  border: 2px solid #121212;
  margin-bottom: 1rem;
  padding: .5rem;
  display: flex;
  gap: 1rem;
}

.grid__controls > * {
  flex: 1;
}

.range-label {
  text-align: center;
}

#range-grid {
  accent-color: #FF7700;
}

#clear-btn, #rainbow-btn {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  background-color: hsla(0, 0%, 7%, .5);
  color: white;
  text-transform: uppercase;
  letter-spacing: .0938rem;
  font-weight: 700;
  transition: all 200ms ease-in-out;
}

#clear-btn:hover, #rainbow-btn:hover {
  background-color: #FF7700;
}

#rainbow-btn.checked {
  background-color: #FF7700;
}

